{% extends 'base/base.html' %}
{% block header %}
    TAGS
{% endblock %}
{% block 'body' %}
    TAG report
<table class="ui celled table">
    <thead>
    <tr>
        <th>Name</th>
        <th>Bar code</th>
    </tr>
    </thead>
    <tbody>
    {% for tag in tags %}
        <tr>
            <td data-label="Name">
                {{ tag.name }}
            </td>
            <td data-label="scan">
                <img src='https://barcode.tec-it.com/barcode.ashx?data={{ tag.slug }}&code=EAN13&imagetype=Gif'
                     alt='{{ tag.name }}'/>

            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
Thanks www.tec-it.com for the codes
{% endblock %}
